//profiles configuration

profiles {
/* awbsatch { includeConfig 'conf/awsbatch.config' }
  conda { process.conda = "$baseDir/environment.yml" }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker {
    docker.enabled = true
    docker.temp = 'auto'
    env {
      JOBLIB_TEMP_FOLDER="/tmp"
        }  
    }
  singularity { singularity.enabled = true }
*/
  test { includeConfig 'conf/test.config' }
}

