// profiles configuration
profiles {
/* 
  conda { process.conda = "$baseDir/environment.yml" }
  docker {
    docker.enabled = true
    docker.temp = 'auto'
    env {
      JOBLIB_TEMP_FOLDER="/tmp"
        }  
    }
  singularity { singularity.enabled = true }
*/
  test { includeConfig 'conf/test.config' }
}

// Default values for parameters
params {
  gtdb_arc_metadata = "https://data.ace.uq.edu.au/public/gtdb/data/releases/latest/ar122_metadata.tsv"
  gtdb_bac_metadata = "https://data.ace.uq.edu.au/public/gtdb/data/releases/latest/bac120_metadata.tsv"
  hmm_mincov = "0.9"
  outputdir = "results/"
}
