//Config params for running the nextflow for gtdb workflow 

params {
    config_profile_name = 'gtdb_pfitmap'
    config_profile_description = 'Running the nextflow script on GTDB:R89 data'
    params.inputgenomes = "genomes/*.faa.gz"
    params.hmms    = "profiles/*.hmm"
    params.profiles_hierarchy = "profiles/hmm_profile_hierarchy.tsv"
    params.dbsource = "GTDB:GTDB:04-RS89"
    params.gtdb_arc_metadata = "https://data.ace.uq.edu.au/public/gtdb/data/releases/latest/ar122_metadata.tsv"
    params.gtdb_bac_metadata = "https://data.ace.uq.edu.au/public/gtdb/data/releases/latest/bac120_metadata.tsv"
    params.hmm_mincov = "0.9"
    params.outputdir = "results/"
}
