//Config params for running a test for nextflow for gtdb workflow 

profiles {
  test {
    params.inputgenomes = "testdata/genomes/*.faa.gz"
    params.hmms    = "testdata/profiles/*.hmm"
    params.profiles_hierarchy = "testdata/profiles/hmm_profile_hierarchy.tsv"
    params.dbsource = "GTDB:04-RS89:20190619"
    params.gtdb_metadata = "testdata/gtdb_metadata_subset.tsv"
    params.hmm_mincov = "0.9"
    params.outputdir = "results/test_results/"
    } 
}
