//Config params for running a test for nextflow for gtdb workflow 

params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    params.inputgenomes = "testdata/genomes/"
    params.hmms    = "testdata/profiles/"
    params.profiles_hierarchy = "testdata/profiles/hmm_profile_hierarchy.tsv"
    params.dbsource = "GTDB:GTDB:04-RS89"
    params.gtdb_arc_metadata = "testdata/arc_metadata.tsv"
    params.gtdb_bac_metadata = "testdata/bac_metadata.tsv"
    params.hmm_mincov = "0.9"
    params.outputdir = "test_results/"
}
